<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>게시판 등록</title>
</head>
<body>
	<h3>게시판 등록</h3>
	<form name="insertForm" th:action="@{/boardInsert}" method="post" enctype="multipart/form-data">
		<div>
			<label>제목</label>
			<input type="text" name="boardTitle"/>
		</div>
		<div>
			<label>작성자</label>
			<input type="text" name="boardWriter"/>
		</div>
		<div>
			<label>작성일</label>
			<input type="date" name="regdate"/>
		</div>
		<div>
			<label>내용</label>
			<textarea rows="" cols="" name="boardContent"></textarea>
		</div>
		<div>
			<label>첨부파일</label>
			<input type="file" name="images"/>
		</div>
		<div>
			<button type="submit">등록</button>
		</div>
	</form>
</body>
</html>